@extends('layout-dashboard.home')

@section('content')
<div class="col-md-12 mt-4">
    <div class="card">
        <div class="card-body">
            <!-- title -->
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">List Order Received</h4>
                </div>
            </div>
            <!-- title -->
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Your Order:</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <p class="text-dark mb-2"
                                style="font-weight: normal; font-size:16px; text-transform: uppercase;">Billing Address
                            </p>
                            <address>
                                {{-- {{ $order->name }} --}}
                            </address>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <p class="text-dark mb-2"
                                style="font-weight: normal; font-size:16px; text-transform: uppercase;">Details</p>
                            <address>
                                Invoice ID:
                                <span class="text-dark">#{{ $order->id }}</span>
                                <br> {{ $order->created_at }}
                                <br> Status: {{ $order->status }}
                            </address>
                        </div>
                    </div>
                    <div class="table-content table-responsive">
                        <table class="table mt-3 table-striped table-responsive table-responsive-large"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Unit Cost</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @forelse ($order->orderItems as $item)
                                <tr>
                                    <td>{{ $item->id }}</td>
                                    {{-- <td>{{ $item->name }}</td> --}} <td>ghg</td>
                                    <td>{{ $item->qty }}</td>
                                    <td>@currency($item->base_price)</td>
                                    <td>@currency($item->sub_total)</td>
                                </tr>
                                @empty
                                <tr>
                                    <td colspan="6">Order item not found!</td>
                                </tr>
                                @endforelse
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <ul>
                                    <li> Subtotal
                                        <span>@currency($order->base_total_price)</span>
                                    </li>
                                    <li>Tax (10%)
                                        <span>@currency($order->tax_amount)</span>
                                    </li>
                                    <li>Total
                                        <span>@currency($order->grand_total)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    @endsection
