.home {
       margin-top : 30px;
       margin-bottom : 100px;
       height : 120%;
       padding-top: 30px;
       padding-bottom: 30px;
}

.card-text {
       font-size : 30px;
}

a {
       color : #fff;
       text-decoration: none;
}

.warna {
       color : #011627;
}