body {
       font-family : 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
       font-weight : 900;
}

.home {
       margin-top : 110px;
       margin-bottom : 100px;
}
.btn-outline-secondary {
       background-color : transparent !important;
       border-color : #011627 !important;
       color : #011627 !important;
       border-radius : 0;
       position : relative;
}

.btn-outline-secondary:before {
       content: '';
       position : absolute;
       background-color : #DE8E5D;
       top : 0;
       left : 0;
       height : 100%;
       width : 0%;
       z-index : -1;
       transition : 0.5s;
}

.btn-outline-secondary:hover:before {
       width : 100%;
}

.btn-secondary {
       background : #011627 !important;
       border-radius : 0;
       border-color: #011627 !important;
}

.btn-secondary:hover {
       color : #DE8E5D !important;
}

.btn-primary {
       background : #DE8E5D !important;
       border-radius : 0;
       border-color : #DE8E5D !important;
       color : #011627 !important;
}

.btn-primary:hover {
       background : #011627 !important;
       color : #DE8E5D !important;
}

.navbar {
       background : #fff;
       border-bottom : 1px solid #eee;
}

.nav-link,
.navbar-brand {
       color : #011627;
}

.nav-link:hover,
.navbar-brand:hover {
       color : #777;
}

.navbar-brand {
       font-size : 1.8rem;
}

.watch-style {
       background : #011627 !important;
       color : #fafaff;
}

.heading-line {
       height : 3px;
       width : 10%;
       background : #DE8E5D;
}

/* services */
.services i {
       font-size : 2em;
       color : #83F3ED;
}

.footer {
       background : #011627;
       color : #fafaff;
}

.footer a {
       color : #fafaff;
}

@media(max-width : 900px) {
       .navbar .nav-item {
              display : block;
              width : 100%;
              padding : 10px 0px;
              text-align : center;
       }
       .watch-style .container {
              width : 100% !important;
       }
}